In [1]:
from pandas_datareader import data
# https://github.com/ranaroussi/fix-yahoo-finance
# 야후 데이터 가져오는게 문제가 있어서 이걸 써줘야된다
import fix_yahoo_finance as yf

yf.pdr_override()  # <== that's all it takes :-)


class StockData:
    """
    arg stock = {
        "ticker": ticker_val, ...string
        "market": kospi, kosdaq, nasdaq, ...string
    }
    """
    def __init__(self):
        pass

    def format_ticker(stock):
        pass

    def _get_kospi(self, stock):  # conventional private naming
        ticker = stock['ticker']
        return data.get_data_google(ticker)

    def _get_kosdaq(self, stock):
        ticker = stock['ticker']
        return data.get_data_yahoo(ticker)

    def _get_nasdaq(self, stock):
        ticker = stock['ticker']
        return data.get_data_google(ticker)

    def error(self, stock):
        raise Exception('unexpected market name {}'.format(stock['market']))

    def get_csv(self, stock):
        mname = '_get_' + stock['market']
        if hasattr(self, mname):
            print(mname)
            method = getattr(self, mname)
            return method(stock)
        else:
            self.error(stock)

stock_api = StockData()

/mnt/c/Users/i7-6700/Documents/system-trading/venv/local/lib/python2.7/site-packages/fix_yahoo_finance/__init__.py:43: DeprecationWarning:
    Auto-overriding of pandas_datareader's get_data_yahoo() is deprecated and will be removed in future versions.
    Use pdr_override() to explicitly override it.
  DeprecationWarning)

In [2]:
naver = stock_api.get_csv({
                'ticker': 'KRX:035420',
                'market': 'kospi',
            })

_get_kospi

In [11]:
naver.to_pickle('../app/data/naver.pickle')

In [12]:
naver.to_csv('../app/data/naver.csv')

In [13]:
import pandas as pd

In [14]:
naver_from_csv = pd.read_csv('../app/data/naver.csv', )

In [16]:
naver_from_pickle = pd.read_pickle('../app/data/naver.pickle')

In [20]:
naver_from_csv.head() # read_csv 로 불러온데이터는 앞에 인덱스가 따로 붙는다

         Date      Open      High       Low     Close  Volume
0  2010-01-04  190000.0  193500.0  189000.0  193000.0  237764
1  2010-01-05  191500.0  196000.0  190000.0  193000.0  222855
2  2010-01-06  193000.0  197000.0  192000.0  192000.0  308772
3  2010-01-07  192500.0  196000.0  191000.0  192500.0  179224
4  2010-01-08  192500.0  195000.0  186000.0  186000.0  209845

In [21]:
naver_from_pickle.head()

                Open      High       Low     Close  Volume
Date
2010-01-04  190000.0  193500.0  189000.0  193000.0  237764
2010-01-05  191500.0  196000.0  190000.0  193000.0  222855
2010-01-06  193000.0  197000.0  192000.0  192000.0  308772
2010-01-07  192500.0  196000.0  191000.0  192500.0  179224
2010-01-08  192500.0  195000.0  186000.0  186000.0  209845